{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Collaborify: О нас</title>
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <h1>Познакомьтесь с командой Collaborify!</h1>

<div class="collapsible-container">
<h2 class="collapsible">Кто мы?</h2>
<div class="content-text">
<p>Мы - команда <i>Collaborify</i>, занимающаяся разработкой веб-приложений. Наш проект - это портфолио команды, где мы будем делиться новостями и событиями.</p>
</div>
</div>

<div class="collapsible-container">
<h2 class="collapsible">Чем мы занимаемся?</h2>
<div class="content-text">
<p>Кроме новостей и событий, наше веб-приложение включает множество функций, которые мы разработали специально для ваших нужд.</p>
</div>
</div>

<div class="collapsible-container">
<h2 class="collapsible">Наша команда:</h2>
<div class="content-text">
    <div style="display: flex; justify-content: space-between; padding: 10px;">
        <ul style="width: 33.3%;">
            <li>Яровенко Владимир</li>
            <li>Калион Алексей</li>
        </ul>
        <ul style="width: 33.3%;">
            <li>Шевченко Станислав</li>
            <li>Захаров Владислав</li>
            <li>Панков Михаил</li>
        </ul>
        <ul style="width: 33.3%;">
            <li>Косташ Ростислав</li>
            <li>Кучерявый Артем</li>
        </ul>
    </div>
</div>
</div>

<div class="collapsible-container">
<h2 class="collapsible">Хотите узнать больше?</h2>
<div class="content-text">
<p>Следите за нашими новостями и событиями на этом портфолио!</p>
</div>
</div>

<style>
    .collapsible-container {
        margin-bottom: 5px;
    }
  
    .collapsible {
        cursor: pointer;
        padding: 15px;
        font-family: 'Arial', sans-serif;
        font-weight: 400;
        background-color: #1d2525;
        margin: 0;
        transition: background-color 0.3s;
    }
  
    .collapsible:hover {
        background-color: #101414;
    }
  
    .content-text {
        padding: 15px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
    }
  
    .content-text.active {
        max-height: 500px;
    }
</style>
  
<script>
    document.querySelectorAll('.collapsible').forEach(item => {
        item.addEventListener('click', () => {
            const content = item.nextElementSibling;
            content.classList.toggle('active');
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + 'px';
            }
        });
    });
</script>
{% endblock %}