{% extends 'base.html' %}

{% load static %}

{% block title %}
  <title>Collaborify: Добавление событий</title>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <h2>{% if object.pk %}Редактировать событие{% else %}Создать событие{% endif %}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">{% if object.pk %}Сохранить{% else %}Создать{% endif %}</button>
    </form>
    {% if form.errors %}
    <p style="color: red;">{{ form.errors }}</p>
    {% endif %}
</div>
{% endblock %}