{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>{{ form.instance.pk|yesno:"Редактировать портфолио, Создать портфолио" }}</title>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<div class="centery test">
    <h1>{{ form.instance.pk|yesno:"Редактировать портфолио, Создать портфолио" }}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.title.label_tag }}
            {{ form.title }}
        </div>
        <div class="form-group">
            {{ form.description.label_tag }}
            {{ form.description }}
        </div>
        <div class="form-group">
            {{ form.screenshot.label_tag }}
            {{ form.screenshot }}
        </div>
        <div class="form-group">
            {{ form.link.label_tag }}
            {{ form.link }}
        </div>
        <button type="submit" class="btn">Зберегти</button>
    </form>
</div>
{% endblock %}