{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>{{ portfolio.title }}</title>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/forum.css' %}">
<style>
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }

    .portfolio-detail {
        background-color: #1d2525;
        border-radius: 10px;
        padding: 20px;
        color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    }

    .portfolio-detail img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .portfolio-detail h1 {
        color: #76b92a;
        margin-bottom: 20px;
    }

    .portfolio-detail p {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    .portfolio-detail .btn {
        display: inline-block;
        padding: 10px 15px;
        font-size: 14px;
        text-align: center;
        background-color: #76b92a;
        color: #ffffff;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    .portfolio-detail .btn:hover {
        background-color: #007f3d;
    }

    .portfolio-detail .footer {
        margin-top: 20px;
        font-size: 14px;
        color: #999999;
        text-align: right;
    }
</style>

<div class="container">
    <div class="portfolio-detail">
        {% if portfolio.screenshot %}
            <img src="{{ portfolio.screenshot.url }}" alt="{{ portfolio.title }}">
        {% endif %}
        <h1>{{ portfolio.title }}</h1>
        <p>{{ portfolio.description }}</p>
        {% if portfolio.link %}
            <a href="{{ portfolio.link }}" class="btn" target="_blank">Посмотреть ссылку</a>
        {% endif %}
        <div class="footer">
            By {{ portfolio.user.first_name }} {{ portfolio.user.last_name }} в {{ portfolio.created_at|date:"M d, Y" }}
        </div>
    </div>
</div>
{% endblock %}