.gallery {
    margin: 15px;
    border: 1px solid #717171;
    border-radius: 6px;
    float: left;
    width: 205px;
    height: auto;
  }

.gallery img {
    width: 200px;
    height: 200px;
  }
  

  .gallery_b {
    margin: 10px 10px;
    background-color: #87d22f;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
  }

.gallery_b:hover {
    background-color: #76b92a;
    color: white;
}

.stycli{
    display: flex;
    justify-content: center;
    padding: 10px 10px 10px 10px;
}

.gallery_b2{
    color: red;
    text-decoration: none;
}

.gallery_b2:hover{
    color: rgb(255, 255, 255);
}

  
.pagination a {
    color: #ccc;
    padding: 10px 16px;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid gray ;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}


.pagination a:hover:not(.active) {background-color: #ddd;}