{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container mt-4">
    <link rel="stylesheet" href="{% static 'css/voting_list.css' %}">
    <h1>Доступные опросы</h1>
    {% if user.is_authenticated %}
        <a href="{% url 'create_survey' %}" class="btn btn-success">Создать опрос</a>
    {% else %}
        <a href="{% url 'login' %}" class="btn btn-success">Войдите, чтобы создать опрос</a>
    {% endif %}
    
    <div class="row">
        {% for survey in surveys %}
            <div class="col-md-12 mb-4">
                <div class="voting-container">
                    <h5>{{ survey.title }}</h5>
                    <p>{{ survey.description|truncatewords:30 }}</p>
                    {% if user.is_authenticated %}
                        <a href="{% url 'survey_detail' survey.id %}" class="btn btn-success">Пройти опрос</a>
                        <a href="{% url 'survey_delete' survey.id %}" class="btn btn-delete">Удалить опрос</a>
                    {% else %}
                        <a href="{% url 'login' %}" class="btn btn-success">Войдите, чтобы пройти опрос</a>
                    {% endif %}
                </div>
            </div>
        {% empty %}
            <p>Нет доступных опросов.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
