{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Collaborify: Посты</title>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/forum.css' %}">
<div>
    <h1>Категория: {{ category }}</h1>
    <a class="forum_b" href="{% url 'post-creat' %}">Создать пост</a>
    <ul class="list-group">
        {% for post in posts %}
        <a href="{% url 'post-detail' post.pk %}">
            <div class="forum">
                    {{ post.title }}
            </div>
        </a>
        {% empty %}
        <p class="list-group-item">Постов не найдено</p>
    </div>  
        {% endfor %}
        <div class="pagination">
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
            {% endif %}
        </div>
{% endblock %}